<h1>Tag 입력하기 </h1>
<p> tags may be inputted </p>
<form action="/posts/create_tag">

  <input type="text" name="tag[name1]">
  <input type="text" name="tag[name2]">
  <input type="text" name="tag[name3]">
  <input type="text" name="tag[name4]">
  <input type="submit">

</form>
